* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;

    
   }

   .main-section {
    background-color: rgb(177, 225, 255);
    width: 100%;
    height: 100%
    
   }

   #movie-container {
    width: 100%;
    
   }

#listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 350px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    margin: 30px;
    background-color: white;
}

#movie-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#movie-title {
    margin: 15px;
}

.add-to-watchlist {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 0, 94);
    color: white;
}

.add-to-watchlist:hover {
    background-color: rgb(0, 0, 65);
    cursor: pointer;
}

.add-to-watchlist:active {
    transform: scale(1, 1.5);
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 1, 83);
    color: white;
}

#main-title {
    
    padding: 15px;
    font-weight: bold;
    background-color: white;
    color:rgb(32, 1, 83);
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* flex-direction: column; */
}
#title {
    font-size: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#logo {
    margin: 21px;
}



/* alert styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }

  .already-added {
    border: 3px solid #ef3232;
  }

  .already-added-button {
    background-color: #ef3232;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 80%;
  }
  
  #alert-message {
    font-size: 18px;
    color: #333;
  }
  
  .close-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .close-button:hover {
    background-color: #45a049;
  }



@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
    
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#logo:hover {
    animation-name: spin;
    animation-duration: 1s;
}
#title:hover {
    animation-name:grow;
    animation-duration: .75s;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 15px
}

.nav-item:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#watchlist {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#mywatchlistHeader {
    font-size: 35px;
    padding: 25px;
    color: rgb(32, 1, 83);
}

#weatherHeader {
    font-size: 35px;
    padding: 25px;
    color: rgb(32, 1, 83);

}

#weather-message {
    padding: 20px;
}

#content {
    color: rgb(32, 1, 83);
    padding: 20px;
}

#message {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#watchItem {
    padding: 20px;
    font-size: 20px;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#weatherBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#forecastBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 5px;
    /* border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

#flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 500px;
}

#weather-container p {
    padding: 5px;
}
#weather-message {
    font-size: 15px;
    padding: 10px;
}

#used {
    text-decoration: line-through;
}